<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
<clear />
<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
<add key="skynet-local" value="./artifacts/nuget" />
</packageSources>
<packageSourceMapping>
<packageSource key="nuget.org">
    <package pattern="Skynet.*" />
    <package pattern="Microsoft.*" />
    <package pattern="System.*" />
    <package pattern="MessagePack" />
    <package pattern="MessagePack.*" />
    <package pattern="MessagePackAnalyzer" />
    <package pattern="Pipelines.Sockets.Unofficial" />
    <package pattern="StackExchange.*" />
    <package pattern="Newtonsoft.Json" />
    <package pattern="FluentAssertions" />
    <package pattern="xunit*" />
    <package pattern="coverlet.collector" />
    <package pattern="NETStandard.Library" />
</packageSource>
<packageSource key="skynet-local">
<package pattern="Skynet.*" />
</packageSource>
</packageSourceMapping>
<config>
<add key="globalPackagesFolder" value=".nuget/packages" />
</config>
</configuration>
